{% extends 'base.html.twig' %}

{% block title %}Gestion d'une session{% endblock %}

{% block body %}
    


<section class="container">
    <h1> {{session.nomSession}} </h1>
    <div class=" card_next_to">
        <div class="card">
            <p>{{ 'Date de début de session: '~ session.debut}}</p>
            <p>{{ 'Date de fin de session: '~ session.fin }}</p>
        </div>    
        <div class="card">
            <p>{{ 'Nombre de places: '~ session.nbPlaces }}</p>
            <p>{{ 'Places reservées: ' ~ session.nbStagiaire }}</p>
            <p>{{ 'Places restantes: ' ~ session.nbPlacesRestantes }}</p>
        </div>
    </div>

    <div class="card">
        <div class="column_content">
            <div class="column">
                <p> {{ "Module compris" }}</p>
                {% for programme in session.programmes %}
                    <p>{{ programme.module.nomModule }}</p>          
                {% endfor %}
            </div>

            <div class="column">
                <p>{{ "Durée" }}</p>
                {% for programme in session.programmes %}
                    <div class='dureeProgramme'>
                        <p>{{ programme.duree }}</p>
                        <button class="editProgramme">Edit</button>
                        <div class="formEditProgramme">
                            <form action="/interface/{{session.id}}/{{programme.id}}/editProgrammeToSession" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token('update-date') }}">
                                <input type="number" name="duree" required>
                                <button type="submit" name="submit">Modifier</button>
                                <button type="submit" class="close-btn">Fermer</button>
                            </form>
                        </div>
                    </div>      
                {% endfor %}
            </div>
            <div class="column">
                <p>{{ "Catégorie" }}</p>
                {% for programme in session.programmes %}
                    <p>{{ programme.module.categorie.nomCategorie }}</p>      
                {% endfor %}
            </div>
            <div class="column">
                <p>{{ "Soustraire un module" }}</p>
                {% for programme in session.programmes %}
                    <a href="{{ path('deleteModule', {'sessionId': session.id, 'programmeId':programme.id}) }} ">{{ "Enlever" }}</a>    <br>      
                {% endfor %}
            </div>
        </div>
    </div>
    
    <div class="card">
        <div class="column_content">
            <div class="column">
                <p>{{ "Module non compris:" }}</p> 
                {% for moduleNonInscrit in moduleNonInscrits %}
                    <p>{{ moduleNonInscrit }} </p>
                {% endfor %}
            </div>
            <div class="column">
                <p>{{ "Catégorie" }}</p> 
                {% for moduleNonInscrit in moduleNonInscrits %}
                    <p>{{ moduleNonInscrit.categorie.nomCategorie }}</p>
                {% endfor %}
            </div>
            <div class="column">
                <p>{{ "Ajouter un module" }}</p> 
                {% for moduleNonInscrit in moduleNonInscrits %}
                    <a href="{{ path('addProgramme', {'sessionId': session.id, 'moduleId':moduleNonInscrit.id}) }} ">{{ "Ajouter" }}</a> <br>
                {% endfor %}
            </div>
        </div>
    </div>

    <section class=" card_next">
        <div class="card">
            <div class="column_content">
                <div class="column">
                    <p>{{ 'Stagiaire inscrits: '}}</p>
                    {% for stagiaire in session.stagiaires %} 
                        <p>{{ stagiaire ~' '}} </p>
                    {% endfor %}
                </div>

                <div class="column">
                    <p>{{ "Soustraire" }}</p>
                    {% for stagiaire in session.stagiaires %}
                            <a href=" {{ path('deleteStagiaire', {'sessionId': session.id, 'stagiaireId':stagiaire.id}) }} ">{{ "Enlever" }}</a> <br>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="card">
            <div class="column_content">
                <div class="column">
                    <p>{{ 'Stagiaire non inscrits: '}}</p>
                    {% for nonInscrit in nonInscrits %} 
                       <p>{{ nonInscrit }}</p>
                    {% endfor %}
                </div>

                <div class="column">
                    <p>{{ "Ajouter" }}</p>

                    {% for nonInscrit in nonInscrits %}
                        <a href=" {{ path('addStagiaire', {'sessionId': session.id, 'stagiaireId':nonInscrit.id}) }} ">{{ "Ajouter" }}</a> <br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</section>
{% endblock %}
