{% extends 'base.html.twig' %}

{% block title %}Création d'une session{% endblock %}
{% block body %}

<div class="container">
    <h1>Création d'une session</h1>

    <div class="card">
        {# form étant une methode native de symfony, et en argument la variable $form #}
        {# {{ form(form) }} #}
        {{ form_start(form, {'attr': {'class': "editSessionForm"}}) }}
        {{ form_row(form.nomSession) }}
        {{ form_row(form.nbPlaces) }}
        {{ form_row(form.dateDebut) }}
        {{ form_row(form.dateFin) }}
        {{ form_row(form.formation) }}
        {{ form_row(form.save) }}
    {{ form_end(form) }}
    </div>

</div>
{% endblock %}