{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}

{% block body %}

{% for session in sessions %}
    <br> <a href="{{ path('app_interface') }}">{{ session.nomSession }}</a> <br>
    {{ 'Nombre de places: '~ session.nbPlaces}} <br>
    {{ 'Date de début de session: '~ session.debut}} <br>
    {{ 'Date de fin de session: '~ session.fin }} <br>

    {% set dureeTotale = 0 %}
    {% for programme in session.programmes %}
        {% set dureeTotale = dureeTotale + programme ~' ' %}
    {% endfor %} 
    {{ " Durée de la session: " ~ dureeTotale ~ " jours"}} <br>

    {% for stagiaire in session.stagiaires %}
    <h2>Liste des stagiaire de la session</h2>
        {{ stagiaire ~' '}} <br>
    {% endfor %}
{% endfor %}

{% endblock %}
    